.education{
    height: 10vh;

}

.eduSec{
    height: 80vh;
    
}

.edu:hover{
    color: var(--highlights);
    cursor: pointer;
    
}

.education{
    margin-top: 20rem;
     
}


.dutyHighlightEmp:hover{
    cursor:pointer;
    background-color: var(--highlights);
    color: black;
}

.expSwitch{
    width: 250px;
    padding: 0px;
    margin-left: 64px;
    border-radius: 20%;
}

.imgSwitch{
    width: 200px;
    border-radius: 100%;
    align-items: center;
    margin-left: 8rem;
}

@media only screen and (max-width: 1328px)  {
    .imgSwitch{ 
        margin-left: 5rem;
        height:100%
       
  }
}