body{
  background-image:linear-gradient(87deg, rgb(2, 0, 36) 0%, rgb(0, 28, 61) 35%, rgb(0, 212, 255) 100%);
  background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}
:root{
--primary: #fdb913;
--heritage: #0a3370;
--ink-blue: #00244e;
--sky-blue:#009dea;
--hero-blue: #2066a2;

--primary-hover: #fee097;

--oswald: 'Oswald', sans-serif;
--open-sans: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

h1{
  color: #fff;
  font-family: var(--oswald);
  font-size: 48px;
}

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

section {
  margin-bottom: 10rem;
}


.btn {
  padding: 0.6rem 0.9rem;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}


.btn-primary {
background-color: var(--primary);
border-color: var(--primary);
color: var(--heritage);

&:hover {
background-color: var(--primary-hover);
border-color: var(--primary-hover);
color: var(--heritage);
}
}


.btn-secondary {
background-color: var(--heritage);
border-color: var(--heritage);
color: #fff;
}

.btn-secondary:hover {
background-color: #fff;
border-color: #fff;
color: var(--heritage);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
