:root{
    --main-text:#8892b0 ;
    --theme-color: #0a254e;
    --highlights: #50ccb4;
    --bold-text: #bec8e7;
}

.name{
    color: #fff;
    font-family: var(--oswald);
    font-size: 4rem;
}

.beginning h3{
    color: var(--main-text );
    font-size: 3rem;
    font-family: var(--main-font);
}

.beginning {
    height: 80vh;
}
