.mtc{
    color:var(--bold-text);
}

.hrt{
    border-top: 2px solid var(--main-text);
    
}

.about h2{
    color:var(--bold-text);
    font-family: var(--main-font);
}


p{
    font-family: var(--open-sans);
    color:#fff;
    font-size: 15px;
}

@media only screen and (max-width: 1328px)  {
    .about{ 
        margin-top: 200px;
       
  }
}

.about{
    height: 100vh;
    
}

#aboutSec{
    height: 30vh
}