
.get-started h2{
    color:var(--bold-text);
    font-family: var(--main-font);
}



.get-started ol li {
    color: #fff;
    
    }

.red-text {
    color: red;
    font-weight: 700;
}

.primary {
    color: var(--primary);
}